<!DOCTYPE html>

<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
  />
  <title>Piechart</title>
</head>

<body>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <svg
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          width="512.000000px"
          height="512.000000px"
          viewBox="0 0 512.000000 512.000000"
          preserveAspectRatio="xMidYMid meet"
        >
          <g
            transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
            fill="#000000"
            stroke="none"
          >
            <path
              d="M310 2560 l0 -2560 2250 0 2250 0 0 2560 0 2560 -2250 0 -2250 0 0
      -2560z m600 2110 l0 -150 -150 0 -150 0 0 150 0 150 150 0 150 0 0 -150z
      m3000 -305 l0 -455 -1350 0 -1350 0 0 455 0 455 1350 0 1350 0 0 -455z m600
      305 l0 -150 -150 0 -150 0 0 150 0 150 150 0 150 0 0 -150z m-3600 -605 l0
      -155 -150 0 -150 0 0 155 0 155 150 0 150 0 0 -155z m3600 0 l0 -155 -150 0
      -150 0 0 155 0 155 150 0 150 0 0 -155z m-3600 -605 l0 -150 -150 0 -150 0 0
      150 0 150 150 0 150 0 0 -150z m3000 -900 l0 -1050 -1350 0 -1350 0 0 1050 0
      1050 1350 0 1350 0 0 -1050z m600 900 l0 -150 -150 0 -150 0 0 150 0 150 150
      0 150 0 0 -150z m-3600 -600 l0 -150 -150 0 -150 0 0 150 0 150 150 0 150 0 0
      -150z m3600 0 l0 -150 -150 0 -150 0 0 150 0 150 150 0 150 0 0 -150z m-3600
      -600 l0 -150 -150 0 -150 0 0 150 0 150 150 0 150 0 0 -150z m3600 0 l0 -150
      -150 0 -150 0 0 150 0 150 150 0 150 0 0 -150z m-3600 -600 l0 -150 -150 0
      -150 0 0 150 0 150 150 0 150 0 0 -150z m3600 0 l0 -150 -150 0 -150 0 0 150
      0 150 150 0 150 0 0 -150z m-3600 -605 l0 -155 -150 0 -150 0 0 155 0 155 150
      0 150 0 0 -155z m3000 -300 l0 -455 -1350 0 -1350 0 0 455 0 455 1350 0 1350
      0 0 -455z m600 300 l0 -155 -150 0 -150 0 0 155 0 155 150 0 150 0 0 -155z
      m-3600 -605 l0 -150 -150 0 -150 0 0 150 0 150 150 0 150 0 0 -150z m3600 0
      l0 -150 -150 0 -150 0 0 150 0 150 150 0 150 0 0 -150z"
            />
          </g>
        </svg>
      </a>
    </div>
    <a
      class="navbar-item is-size-5-desktop is-size-2-touch"
      href="/scatterchart"
      >Scatter chart</a
    >
    <a class="navbar-item is-size-5-desktop is-size-2-touch" href="/piechart"
      >Pie chart</a
    >
    <a class="navbar-item is-size-5-desktop is-size-2-touch" href="/form"
      >Form</a
    >
  </nav>
  <div class="column is-6-desktop is-offset-3-desktop is-full-touch">
    <div class="container is-fluid mt-6">
      <div class="is-size-5-desktop is-size-2-touch has-text-justified">
        The distribution of different movie genres according to popularity is
        seen in the pie chart below. With a sizable portion of the audience's
        attention, drama comes out as the most popular genre, followed by comedy
        and action. The industry is dominated by these genres, which represent
        the tastes of viewers for humour, excitement, and depth in storytelling.
        While speciality genres like fantasy, sci-fi, and animation target
        particular audience segments, other genres like crime, romance, and
        thriller are also rather prevalent. The graphic illustrates how the film
        industry is impacted by the varied tastes of its audience. This analysis
        provides insights into the genres that stay popular with viewers
        throughout the world while helping to identify trends in movie
        consumption. 🎬🍿
      </div>
    </div>
    <div class="container is-fluid mt-6">
      <div class="notification">{{piechart | safe}}</div>
    </div>
  </div>
</body>
