<!DOCTYPE html>

<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
  />
  <title>Scatterchart</title>
</head>

<body>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <svg
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          width="512.000000px"
          height="512.000000px"
          viewBox="0 0 512.000000 512.000000"
          preserveAspectRatio="xMidYMid meet"
        >
          <g
            transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
            fill="#000000"
            stroke="none"
          >
            <path
              d="M310 2560 l0 -2560 2250 0 2250 0 0 2560 0 2560 -2250 0 -2250 0 0
      -2560z m600 2110 l0 -150 -150 0 -150 0 0 150 0 150 150 0 150 0 0 -150z
      m3000 -305 l0 -455 -1350 0 -1350 0 0 455 0 455 1350 0 1350 0 0 -455z m600
      305 l0 -150 -150 0 -150 0 0 150 0 150 150 0 150 0 0 -150z m-3600 -605 l0
      -155 -150 0 -150 0 0 155 0 155 150 0 150 0 0 -155z m3600 0 l0 -155 -150 0
      -150 0 0 155 0 155 150 0 150 0 0 -155z m-3600 -605 l0 -150 -150 0 -150 0 0
      150 0 150 150 0 150 0 0 -150z m3000 -900 l0 -1050 -1350 0 -1350 0 0 1050 0
      1050 1350 0 1350 0 0 -1050z m600 900 l0 -150 -150 0 -150 0 0 150 0 150 150
      0 150 0 0 -150z m-3600 -600 l0 -150 -150 0 -150 0 0 150 0 150 150 0 150 0 0
      -150z m3600 0 l0 -150 -150 0 -150 0 0 150 0 150 150 0 150 0 0 -150z m-3600
      -600 l0 -150 -150 0 -150 0 0 150 0 150 150 0 150 0 0 -150z m3600 0 l0 -150
      -150 0 -150 0 0 150 0 150 150 0 150 0 0 -150z m-3600 -600 l0 -150 -150 0
      -150 0 0 150 0 150 150 0 150 0 0 -150z m3600 0 l0 -150 -150 0 -150 0 0 150
      0 150 150 0 150 0 0 -150z m-3600 -605 l0 -155 -150 0 -150 0 0 155 0 155 150
      0 150 0 0 -155z m3000 -300 l0 -455 -1350 0 -1350 0 0 455 0 455 1350 0 1350
      0 0 -455z m600 300 l0 -155 -150 0 -150 0 0 155 0 155 150 0 150 0 0 -155z
      m-3600 -605 l0 -150 -150 0 -150 0 0 150 0 150 150 0 150 0 0 -150z m3600 0
      l0 -150 -150 0 -150 0 0 150 0 150 150 0 150 0 0 -150z"
            />
          </g>
        </svg>
      </a>
    </div>

    <a
      class="navbar-item is-size-5-desktop is-size-2-touch"
      href="/scatterchart"
      >Scatter chart</a
    >
    <a class="navbar-item is-size-5-desktop is-size-2-touch" href="/piechart"
      >Pie chart</a
    >
    <a class="navbar-item is-size-5-desktop is-size-2-touch" href="/form"
      >Form</a
    >
    <a
      class="navbar-item is-size-5-desktop is-size-2-touch"
      href="/recommendation"
      >Recommendation</a
    >
  </nav>
  <div class="columns">
    <div class="column is-6-desktop is-offset-3-desktop is-full-touch">
      <div class="container is-fluid mt-6">
        <div class="is-size-5-desktop is-size-2-touch has-text-justified">
          The scatter plot here shows how a film's average rating and the
          quantity of votes it has gotten are related. The average rating and
          the quantity of user votes is displayed on the x and y-axis
          respectively. We can see from the visualisation that: More votes are
          often cast for films with higher ratings (above 7). The data points
          clearly cluster around the 6–8 rating range, indicating that the
          majority of films are in this range. This suggests that, better than
          average movies, are watched more. Movies at the extremes of the chart
          generally show fewer votes, which suggests that they are either less
          popular or cater to niche audiences. This graph illustrates the
          relationship between user engagement (as indicated by votes) and
          perceived film quality, revealing a pattern where more popular films
          frequently get higher ratings and more votes. 🎬🍿
          <br />
          The average rating of all the movies in the dataset is 6.59. (depicted by the green dotted line)
        </div>
      </div>
      <div class="container is-fluid mt-6">
        <div class="notification">{{scatterchart | safe}}</div>
      </div>
    </div>
  </div>
</body>
